* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanuman', serif;


}


h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 100px;
    color: blueviolet;
    text-align: center;
    align-items: center;


}

body {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,255,47,1) 35%, rgba(0,212,255,1) 100%);


}

.form-group {
    width: 400px;
    height: 400px;
    border: 20px solid white;
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
    margin: 10px auto;
    background-color: white;
    color: blueviolet;
    text-align: center;
    align-items: center;

}

img {
    max-width: 100%;
    max-height: 100%;
    background: none;
}

.form-group p {
    width: auto;
    height: auto;
    color: black;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    background: white;
    text-align: center;
}

.form-group input {
    background: rgb(240, 235, 235);
    width: 200px;
    height: 35px;
    font-size: large;
    font-weight: 400;
    border-radius: 5px;
}

button {
    margin: 20px auto;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: 10px solid blueviolet;
    background: blueviolet;
    cursor: pointer;
}

.new-user {
    font-family: 'Hanuman', serif;
    font-size:20px;
    font-weight:500;
    font-style: normal;
    color: blueviolet;
    text-decoration: none;


}

.contacts-list {
    margin-top: 80px;
    text-align:center;
    align-items: center;
    font-family: 'Hanuman', serif;
    font-size:20px;
    font-weight:500;
    font-style: normal;
    color: blueviolet;
    cursor: pointer;
    border-width:0;
   

}
.contacts-list a {
    margin-right: 10px;
    text-decoration: none;
}
/* -------Estilização do createnew--------- */