* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanuman', serif;


}

h1 {
    bottom: 400px;
    font-size: 50px;
    font-weight: 900;
    margin: 10px;
    color: blueviolet;
    text-align: center;
    align-items: center;


}

body {
    margin: 10px;
    padding: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #adff2f 35%, rgba(0, 212, 255, 1) 100%);

}

.form-group {
    width: 300px;
    height: 320px;
    border: 20px solid white;
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
    margin: auto;
    background-color: white;
    color: blueviolet;
    text-align: center;
    align-items: center;

}

img {
    max-width: 100%;
    max-height: 100%;
    background: none;
}

.form-group p {
    width: auto;
    height: auto;
    color: black;
    font-size: 15px;
    background: white;
    text-align: center;
}

.form-group input {
    background: rgb(240, 235, 235);
    width: 160px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
}

button {
    margin: 20px auto;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    border: 8px solid blueviolet;
    background: blueviolet;
    cursor: pointer;
}

.new-user {
    font-family: 'Hanuman', serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: blueviolet;
    text-decoration: none;


}

.contacts-list {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Hanuman', serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    color: blueviolet;
    cursor: pointer;
    border-width: 0;


}

.contacts-list a {
    margin-right: 10px;
    text-decoration: none;

}



/* -------Estilização do createnew--------- */